@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap');

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Syne", sans-serif;
      
}   

.magnetic {
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Syne', sans-serif;
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

#home-page {
    height: 100vh;
}

#intro-page {
    height: 100vh;
    background-color: white;
}

#work-page {
    height: 100vh;
}

#contact-page {
    height: 100vh;
}

.gradient-text {
    background: linear-gradient(to right, #d28e40 0%, #8044ce 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; /* Fallback for browsers that don't support background-clip: text */
    z-index: 10;
  }